# See for instructions on this file <https://help.github.com/articles/about-codeowners/>

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @ShocOne by default will be requested for
# review when someone opens a pull request.

* @ShocOne

.github/** @ShocOne
.internal/** @ShocOne
.scripts/** @ShocOne
.examples/** @ShocOne
.templates/** @ShocOne