---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Applications"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [ipApplicationSegment resource type](https://learn.microsoft.com/en-us/graph/api/resources/ipapplicationsegment?view=graph-rest-beta)
- [Create ipApplicationSegment](https://learn.microsoft.com/en-us/graph/api/onpremisespublishingprofile-post-applicationsegments?view=graph-rest-beta&tabs=http)
- [Update ipApplicationSegment](https://learn.microsoft.com/en-us/graph/api/ipapplicationsegment-update?view=graph-rest-beta&tabs=http)
- [Delete ipApplicationSegment](https://learn.microsoft.com/en-us/graph/api/ipapplicationsegment-delete?view=graph-rest-beta&tabs=http)

## API Permissions

The following API permissions are required in order to use this resource.

### Microsoft Graph

- **Application**: `Application.Read.All` and `Application.ReadWrite.All`

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.33.0 | Experimental | Initial release |
| v0.42.0 | Experimental | Renamed `application_id` to `application_object_id` and added more examples|

## Example Usage

### Basic Configuration - IP Address

This example demonstrates a minimal configuration targeting a single IP address.

{{ tffile "examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource_minimal_ip_address.tf" }}

### IP Range (CIDR Notation)

This example shows how to configure an application segment for an entire IP subnet using CIDR notation.

{{ tffile "examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource_ip_range_cidr.tf" }}

### Fully Qualified Domain Name (FQDN)

This example demonstrates configuration using a specific hostname with multiple ports.

{{ tffile "examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource_fqdn.tf" }}

### DNS Suffix (Wildcard Domain)

This example shows how to use a wildcard domain to match all subdomains.

{{ tffile "examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource_dns_suffix_wildcard.tf" }}

### UDP Protocol

This example demonstrates configuration using UDP protocol, useful for applications like VoIP or video conferencing.

{{ tffile "examples/resources/microsoft365_graph_beta_applications_ip_application_segment/resource_udp_protocol.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/microsoft365_graph_beta_applications_ip_application_segment/import.sh" }}