---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Applications"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [passwordCredential resource type](https://learn.microsoft.com/en-us/graph/api/resources/passwordcredential?view=graph-rest-beta)
- [application-addPassword](https://learn.microsoft.com/en-us/graph/api/application-addpassword?view=graph-rest-beta&tabs=http)
- [application-removePassword](https://learn.microsoft.com/en-us/graph/api/application-removepassword?view=graph-rest-beta&tabs=http)

## Microsoft Graph API Permissions

The following client `application` permissions are needed in order to use this {{.Type | lower}}:

**Required:**
- `Application.Read.All`
- `Directory.Read.All`
- `Application.ReadWrite.All`
- `Directory.ReadWrite.All`

**Optional:**
- `None` `[N/A]`

Find out more about the permissions required for managing applications at Microsoft Learn [here](https://learn.microsoft.com/en-us/graph/api/resources/application?view=graph-rest-beta).

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.43.0 | Experimental | Initial release |

## Important Notes

- **The `secret_text` attribute is only available at creation time.** Store this value securely immediately after creation as it cannot be retrieved from the API later.
- This resource does not support import because the password cannot be retrieved from the API after creation.
- When the resource is updated, the existing password is removed and a new one is created. This means the `secret_text` will change on every update.
- The generated password is 16-64 characters long and is generated by Microsoft Entra ID.
- Maximum password credential validity is 2 years from the start date if no end date is specified.

## Example Usage

### Basic Password Credential

{{ tffile "examples/resources/microsoft365_graph_beta_applications_application_password_credential/resource_basic.tf" }}

### Password Credential with Custom Validity Period

{{ tffile "examples/resources/microsoft365_graph_beta_applications_application_password_credential/resource_with_expiry.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

~> **Note:** Import is NOT supported for this resource because the `secret_text` value is only available at creation time and cannot be retrieved from the API.
