---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Device Management"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [aospDeviceOwnerCompliancePolicy resource type](https://learn.microsoft.com/en-us/graph/api/resources/intune-deviceconfig-aospdeviceownercompliancepolicy?view=graph-rest-beta)
- [Create aospDeviceOwnerCompliancePolicy](https://learn.microsoft.com/en-us/graph/api/intune-deviceconfig-aospdeviceownercompliancepolicy-create?view=graph-rest-beta&tabs=http)
- [Update aospDeviceOwnerCompliancePolicy](https://learn.microsoft.com/en-us/graph/api/intune-deviceconfig-aospdeviceownercompliancepolicy-update?view=graph-rest-beta&tabs=http)
- [Delete aospDeviceOwnerCompliancePolicy](https://learn.microsoft.com/en-us/graph/api/intune-deviceconfig-aospdeviceownercompliancepolicy-delete?view=graph-rest-beta&tabs=http)

## API Permissions

The following API permissions are required in order to use this resource.

### Microsoft Graph

- **Application**: `DeviceManagementConfiguration.ReadWrite.All` , `DeviceManagementConfiguration.Read.All`

## Example Usage

{{ tffile "examples/resources/microsoft365_graph_beta_device_management_aosp_device_owner_compliance_policy/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.23.0-alpha | Experimental | Initial release |

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/microsoft365_graph_beta_device_management_aosp_device_owner_compliance_policy/import.sh" }}