---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Device and App Management"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [iosStoreApp resource type](https://learn.microsoft.com/en-us/graph/api/resources/intune-apps-iosstoreapp?view=graph-rest-beta)
- [Create iosStoreApp](https://learn.microsoft.com/en-us/graph/api/intune-apps-iosstoreapp-create?view=graph-rest-beta)

## API Permissions

The following API permissions are required in order to use this resource.

### Microsoft Graph

- **Read**: `DeviceManagementApps.Read.All`
- **Write**: `DeviceManagementApps.ReadWrite.All`

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.21.0-alpha | Experimental | Initial release |

## Example Usage

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_ios_store_app/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/microsoft365_graph_beta_device_and_app_management_ios_store_app/import.sh" }} 