---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Device and App Management"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [iosMobileAppConfiguration resource type](https://learn.microsoft.com/en-us/graph/api/resources/intune-apps-androidmanagedstoreappconfiguration?view=graph-rest-beta)
- [Create AndroidManagedStoreAppConfiguration](https://learn.microsoft.com/en-us/graph/api/intune-apps-androidmanagedstoreappconfiguration-create?view=graph-rest-beta)
- [Update AndroidManagedStoreAppConfiguration](https://learn.microsoft.com/en-us/graph/api/intune-apps-androidmanagedstoreappconfiguration-update?view=graph-rest-beta)
- [Delete AndroidManagedStoreAppConfiguration](https://learn.microsoft.com/en-us/graph/api/intune-apps-androidmanagedstoreappconfiguration-delete?view=graph-rest-beta)
- [App Configuration Policies for Managed Android Devices](https://learn.microsoft.com/en-us/intune/intune-service/apps/app-configuration-policies-use-android)

## API Permissions

The following API permissions are required in order to use this resource.

### Microsoft Graph

- **Application**: `DeviceManagementConfiguration.ReadWrite.All`, `DeviceManagementApps.ReadWrite.All`

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.36.0-alpha | Experimental | Initial release |

## Example Usage

### Minimal Configuration

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_minimal.tf" }}

### Microsoft Authenticator

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_authenticator_maximal.tf" }}

### Microsoft 365 Copilot

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_365_copilot_maximal.tf" }}

### Managed Home Screen (Kiosk Mode)

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_managed_home_screen_maximal.tf" }}

### Microsoft Defender for Endpoint

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_defender_antivirus_maximal.tf" }}

### Microsoft Edge Browser

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_edge_browser_maximal.tf" }}

### Microsoft Excel

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_excel_maximal.tf" }}

### Microsoft OneDrive

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_onedrive_maximal.tf" }}

### Microsoft OneNote

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_onenote_maximal.tf" }}

### Microsoft Outlook

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_outlook_maximal.tf" }}

### Microsoft PowerPoint

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_powerpoint_maximal.tf" }}

### Microsoft Teams

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_teams_maximal.tf" }}

### Microsoft Word

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/resource_microsoft_word_maximal.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/microsoft365_graph_beta_device_and_app_management_android_managed_device_app_configuration_policy/import.sh" }}