---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Agents"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [agentIdentityBlueprint resource type](https://learn.microsoft.com/en-us/graph/api/resources/agentidentityblueprint?view=graph-rest-beta)
- [Create agentIdentityBlueprint](https://learn.microsoft.com/en-us/graph/api/agentidentityblueprint-post?view=graph-rest-beta&tabs=http)
- [Update agentIdentityBlueprint](https://learn.microsoft.com/en-us/graph/api/agentidentityblueprint-update?view=graph-rest-beta&tabs=http)
- [Delete agentIdentityBlueprint](https://learn.microsoft.com/en-us/graph/api/agentidentityblueprint-delete?view=graph-rest-beta&tabs=http)

## Microsoft Graph API Permissions

The following client `application` permissions are needed in order to use this {{.Type | lower}}:

**Required:**
- `AgentIdentityBlueprint.Read.All`
- `AgentIdentityBlueprint.ReadWrite.All`
- `AgentIdentityBlueprint.Create`
- `AgentIdentityBlueprint.AddRemoveCreds.All`
- `AgentIdentityBlueprint.UpdateBranding.All`
- `Directory.Read.All`
- `Directory.ReadWrite.All`

**Optional:**
- `None` `[N/A]`

Find out more about the permissions required for managing agent identities at microsoft learn [here](https://learn.microsoft.com/en-us/graph/api/resources/agentid-platform-overview?view=graph-rest-beta#permissions-for-managing-agent-identities).

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.38.0 | Experimental | Initial release |

## Example Usage

### Minimal Example

{{ tffile "examples/resources/microsoft365_graph_beta_agents_agent_identity_blueprint/resource_minimal.tf" }}

### Maximal Example

{{ tffile "examples/resources/microsoft365_graph_beta_agents_agent_identity_blueprint/resource_maximal.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/microsoft365_graph_beta_agents_agent_identity_blueprint/import.sh" }}