---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Groups"
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [Directory setting resource type](https://learn.microsoft.com/en-us/graph/api/resources/directorysetting?view=graph-rest-beta)
- [List directory settings](https://learn.microsoft.com/en-us/graph/api/directory-list-settings?view=graph-rest-beta)
- [Create directory setting](https://learn.microsoft.com/en-us/graph/api/directory-post-settings?view=graph-rest-beta)
- [Update directory setting](https://learn.microsoft.com/en-us/graph/api/directorysetting-update?view=graph-rest-beta)
- [Delete directory setting](https://learn.microsoft.com/en-us/graph/api/directorysetting-delete?view=graph-rest-beta)

## API Permissions

The following API permissions are required in order to use this resource.

### Microsoft Graph

- **Application**: `Directory.ReadWrite.All`

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.18.0-alpha | Experimental | Initial release |

## Example Usage

{{ tffile "examples/microsoft365_graph_beta/microsoft365_graph_beta_groups_tenant_wide_group_settings/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Important Notes

- **Tenant-wide Settings**: These settings apply to all groups in the tenant.
- **Template ID**: The `template_id` attribute determines the type of settings applied.
- **Values**: The `values` block allows specifying key-value pairs for settings.

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/microsoft365_graph_beta/microsoft365_graph_beta_groups_tenant_wide_group_settings/import.sh" }} 