---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Intune"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/microsoft365_graph/graph_device_and_app_management_m365_apps_installation_options/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

