---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Device Management"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [windowsDeviceCompliancePolicy resource type](https://learn.microsoft.com/en-us/graph/api/resources/intune-deviceconfig-windows10compliancepolicy?view=graph-rest-beta)
- [Create windowsDeviceCompliancePolicy](https://learn.microsoft.com/en-us/graph/api/intune-deviceconfig-windows10compliancepolicy-create?view=graph-rest-beta&tabs=http)
- [Update windowsDeviceCompliancePolicy](https://learn.microsoft.com/en-us/graph/api/intune-deviceconfig-windows10compliancepolicy-update?view=graph-rest-beta&tabs=http)
- [Delete windowsDeviceCompliancePolicy](https://learn.microsoft.com/en-us/graph/api/intune-deviceconfig-windows10compliancepolicy-delete?view=graph-rest-beta&tabs=http)

## Microsoft Graph API Permissions

The following client `application` permissions are needed in order to use this {{.Type | lower}}:

**Required:**
- `DeviceManagementConfiguration.ReadWrite.All`
- `DeviceManagementConfiguration.Read.All`

**Optional:**
- `None` `[N/A]`

## Example Usage

### Custom Compliance Policy

{{ tffile "examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/custom_compliance.tf" }}

### Device Health Policy

{{ tffile "examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/device_health.tf" }}

### Device Properties Policy

{{ tffile "examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/device_properties.tf" }}

### Microsoft Defender for Endpoint Policy

{{ tffile "examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/microsoft_defender_for_endpoint.tf" }}

### System Security Policy

{{ tffile "examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/system_security.tf" }}

### WSL Policy with Assignments

{{ tffile "examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/wsl_assignments.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.23.0-alpha | Experimental | Initial release |

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/microsoft365_graph_beta_device_management_windows_device_compliance_policy/import.sh" }}