---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Device Management"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [windowsAutopilotDeviceIdentity resource type](https://learn.microsoft.com/en-us/graph/api/resources/intune-enrollment-windowsautopilotdeviceidentity?view=graph-rest-beta)

## API Permissions

The following API permissions are required in order to use this resource.

### Microsoft Graph

- **Application**: `DeviceManagementServiceConfig.ReadWrite.All`

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.21.0-alpha | Experimental | Initial release |


## Example Usage

{{ tffile "examples/microsoft365_graph_beta/microsoft365_graph_beta_device_management_windows_autopilot_device_identity/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Important Notes

- The resource leverages the `assignUserToDevice` endpoint to assign a user to a Windows Autopilot device.

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/microsoft365_graph_beta/microsoft365_graph_beta_device_management_windows_autopilot_device_identity/import.sh" }}
