---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Device and App Management"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [macOsVppApp resource type](https://learn.microsoft.com/en-us/graph/api/resources/intune-apps-macosvppapp?view=graph-rest-beta)
- [Create macOsVppApp](https://learn.microsoft.com/en-us/graph/api/intune-apps-macosvppapp-create?view=graph-rest-beta)

## Microsoft Graph API Permissions

The following client `application` permissions are needed in order to use this {{.Type | lower}}:

**Required:**
- `DeviceManagementApps.Read.All`
- `DeviceManagementApps.ReadWrite.All`

**Optional:**
- `None` `[N/A]`

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.21.0-alpha | Experimental | Initial release |

## Example Usage

{{ tffile "examples/resources/microsoft365_graph_beta_device_and_app_management_macos_vpp_app/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/microsoft365_graph_beta_device_and_app_management_macos_vpp_app/import.sh" }} 