---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Identity and Access"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

- [namedLocation resource type](https://learn.microsoft.com/en-us/graph/api/resources/authenticationstrengthpolicy?view=graph-rest-beta)

## API Permissions

The following API permissions are required in order to use this resource.

### Microsoft Graph

- **Application**: `Policy.ReadWrite.ConditionalAccess`, `Policy.Read.All`

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.28.0-alpha | Experimental | Initial release |

## Example Usage

{{ tffile "examples/microsoft365_graph_beta/microsoft365_graph_beta_identity_and_access_authentication_strength/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Important Notes
A collection of settings that define specific combinations of authentication methods and metadata. The authentication strength policy, when applied to a given scenario using Microsoft Entra Conditional Access, defines which authentication methods must be used to authenticate in that scenario. An authentication strength may be built-in or custom (defined by the tenant) and may or may not fulfill the requirements to grant an MFA claim.

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/microsoft365_graph_beta/microsoft365_graph_beta_identity_and_access_authentication_strength/import.sh" }} 