---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Device Management"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

### Graph API References
- [rebootNow action](https://learn.microsoft.com/en-us/graph/api/intune-devices-manageddevice-rebootnow?view=graph-rest-beta)
- [managedDevice resource type](https://learn.microsoft.com/en-us/graph/api/resources/intune-devices-manageddevice?view=graph-rest-beta)

### Intune Remote Actions Guides
- [Restart devices - Windows](https://learn.microsoft.com/en-us/intune/intune-service/remote-actions/device-restart?pivots=windows)
- [Restart devices - iOS](https://learn.microsoft.com/en-us/intune/intune-service/remote-actions/device-restart?pivots=ios)
- [Restart devices - macOS](https://learn.microsoft.com/en-us/intune/intune-service/remote-actions/device-restart?pivots=macos)
- [Restart devices - Android](https://learn.microsoft.com/en-us/intune/intune-service/remote-actions/device-restart?pivots=android)
- [Restart devices - ChromeOS](https://learn.microsoft.com/en-us/intune/intune-service/remote-actions/device-restart?pivots=chromeos)

## Microsoft Graph API Permissions

The following client `application` permissions are needed in order to use this {{.Type | lower}}:

**Required:**
- `DeviceManagementManagedDevices.PrivilegedOperations.All`

**Optional:**
- `None` `[N/A]`

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.33.0-alpha | Experimental | Initial release |
| v0.40.0-alpha | Experimental | Example fixes and refactored sync progress logic |


## Example Usage

{{ tffile "examples/actions/graph_beta_device_management_managed_device_reboot_now/action.tf" }}

{{ if .SchemaMarkdown }}{{ .SchemaMarkdown | trimspace }}{{ else }}Schema documentation not available.{{ end }}

