---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Device Management"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Microsoft Documentation

### Graph API References
- [syncDevice action](https://learn.microsoft.com/en-us/graph/api/intune-devices-manageddevice-syncdevice?view=graph-rest-beta)
- [managedDevice resource type](https://learn.microsoft.com/en-us/graph/api/resources/intune-devices-manageddevice?view=graph-rest-beta)

### Intune Remote Actions Guides
- [Device sync - Windows](https://learn.microsoft.com/en-us/intune/intune-service/remote-actions/device-sync?pivots=windows)
- [Device sync - iOS](https://learn.microsoft.com/en-us/intune/intune-service/remote-actions/device-sync?pivots=ios)
- [Device sync - macOS](https://learn.microsoft.com/en-us/intune/intune-service/remote-actions/device-sync?pivots=macos)
- [Device sync - Android](https://learn.microsoft.com/en-us/intune/intune-service/remote-actions/device-sync?pivots=android)

## Microsoft Graph API Permissions

The following client `application` permissions are needed in order to use this {{.Type | lower}}:

**Required:**
- `DeviceManagementManagedDevices.PrivilegedOperations.All`

**Optional:**
- `None` `[N/A]`

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.33.0-alpha | Experimental | Initial release |
| v0.40.0-alpha | Experimental | Example fixes and refactored sync progress logic |


## Example Usage

{{ tffile "examples/actions/graph_beta_device_management_managed_device_sync_device/action.tf" }}

{{ if .SchemaMarkdown }}{{ .SchemaMarkdown | trimspace }}{{ else }}Schema documentation not available.{{ end }}


