---
page_title: "{{if .Type}}{{.Type}}: {{end}}{{if .Name}}{{.Name}}{{else}}Untitled Data Source{{end}}"
description: |-
{{ if .Description -}}
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
{{- else -}}
  This data source does not have a description yet.
{{- end }}
---

# {{if .Type}}{{.Type}}: {{end}}{{if .Name}}{{.Name}}{{else}}Untitled Data Source{{end}}

{{ if .Description -}}
{{ .Description | trimspace }}
{{- else -}}
This data source does not have a description yet.
{{- end }}

{{ if .HasExample -}}
## Example Usage

{{ if (fileExists (printf "example/%s/datasource.tf" .Name)) -}}
{{ printf "{{tffile %q}}" (printf "example/%s/datasource.tf" .Name) }}
{{- else -}}
```hcl
# Example usage will be added here
```
{{- end }}

{{- else -}}
## Example Usage

Example usage for this data source is not available yet.
{{- end }}

{{ if .SchemaMarkdown -}}
{{ .SchemaMarkdown | trimspace }}
{{- else -}}
## Schema

The schema for this data source is not documented yet.
{{- end }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{ if (fileExists .ImportFile) -}}
{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}
{{- else -}}
```shell
# Import syntax will be added here
```
{{- end }}

{{- else -}}
## Import

Import functionality for this data source is not yet documented.
{{- end }}