---
page_title: "{{ .Type }}: {{ .Name }}"
description: |
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Type }}: {{ .Name }}

{{ .Description | trimspace }}

{{ if .HasExample }}

## Example Usage

{{ printf "{{tffile %q}}" (printf "example/%s/datasource.tf" .Name) }}

{{- end }}

## Schema

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport }}

## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}

{{- end }}

## Argument Reference

{{ if .Arguments -}}
The following arguments are supported:

{{ range .Arguments }}
* `{{ .Name }}` (`{{ .Type }}`{{ if .Required }} - Required{{ end }}): {{ .Description | trimspace }}
{{ end }}
{{ else -}}
This data source does not require any arguments.
{{ end }}

## Attributes Reference

The following attributes are exported:

{{ range .Attributes }}
* `{{ .Name }}` (`{{ .Type }}`): {{ .Description | trimspace }}
{{ end }}

## Known Issues

{{ .KnownIssues | trimspace }}

## Authors

{{ .Authors | trimspace }}

## Licensing

{{ .Licensing | trimspace }}
