---
page_title: "Provider: m365"
description: |-
  The m365 provider is used to manage m365 resources.  
---

# m365 Provider

The Terraform m365 msgraph provider is a plugin for Terraform that allows for the
management of [m365](https://github.com/microsoftgraph/msgraph-metadata) resources.

## Example Usage

{{ tffile "examples/microsoft365_provider/provider.tf" }}

## Schema

{{ if .SchemaMarkdown -}}
{{ .SchemaMarkdown | trimspace }}
{{- else -}}
Please refer to the provider documentation for details on the configuration schema.
{{- end }}