---
page_title: "{{.Type}}: {{.Name}}"
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

{{ if .HasExample -}}

## Example Usage

{{/* Check for v1.0 API example */}}
{{ if hasfile (printf "examples/microsoft365_graph/%s/resource.tf" .Name) }}
{{ printf "{{tffile %q}}" (printf "examples/microsoft365_graph/%s/resource.tf" .Name) }}
{{/* Check for beta API example */}}
{{ else if hasfile (printf "examples/microsoft365_graph_beta/%s/resource.tf" .Name) }}
{{ printf "{{tffile %q}}" (printf "examples/microsoft365_graph_beta/%s/resource.tf" .Name) }}
{{ end }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}

{{- end }}
