---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Device Management"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

The Microsoft 365 Intune assignment filter data source provides information about a specific Intune assignment filter.

## Example Usage

{{ tffile "examples/data-sources/microsoft365_graph_beta_device_management_windows_quality_update_expedite_policy/datasource.tf" }}

{{ .SchemaMarkdown | trimspace }}