---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Intune"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

The Microsoft 365 Intune role scope tag data source provides information about a specific scope tag.

## Example Usage

{{ tffile "examples/microsoft365_graph_beta/graph_beta_device_and_app_management_reuseable_policy_setting/datasource.tf" }}

{{ .SchemaMarkdown | trimspace }}