---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Intune"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

The Microsoft 365 Intune application category data source provides information about a specific mobile app category.

## Example Usage

{{ tffile "examples/microsoft365_graph_beta/microsoft365_graph_beta_device_and_app_management_application_category/datasource.tf" }}

{{ .SchemaMarkdown | trimspace }}