---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Utility"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}}

Use this data source to query the iTunes App Store API for app metadata. 
This data source allows you to search for apps by name and iTunes store country code, 
returning details like bundle ID and artwork URLs.

This data source can be used in conjunction with the the intunes vpp app resource
to populate metadata as part of the deployment of vpp apps from the iTunes App Store
with the intunes vpp app resource, 'microsoft365_graph_beta_device_and_app_management_macos_vpp_app'.

## Version History

| Version | Status | Notes |
|---------|--------|-------|
| v0.42.0-alpha | Experimental | Added missing version history |

## Example Usage

{{ tffile "examples/data-sources/microsoft365_utility_itunes_app_metadata/datasource.tf" }}
