---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Utility"

description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

Use this data source to retrieve Microsoft Store package manifests by package identifier or search term. Used for winget packages.

This data source is particularly useful when creating winget app resources in Intune, as it automatically extracts critical information such as bundle identifier, version, package IDs, and other metadata required for proper app configuration and management.

## Example Usage

{{ tffile "examples/data-sources/microsoft365_utility_microsoft_store_package_manifest_metadata/datasource.tf" }}

{{ .SchemaMarkdown | trimspace }}